<h1 style="text-align:center">Contact Us</h1>

<p> We would love to help you answer any burning questions you may have.</p><br>

<p>Contact us today!</p>

<p>
  Message Board Headquarters<br>
  Nairobi,Kenya.<br>
  Mobile no: 0723844166.<br>
  Email:<a href="mailto:{{unbound email}}">collotush@gmail.com</a>
</p>
